[Adblock Plus 1.1]
! Title: EasyList Germany
! EasyList Germany - Deutsche Ergänzung zu EasyList
! Last modified: %timestamp%
! Expires: 1 days (update frequency)
! Homepage: https://easylist.github.io/
!
! Bitte melde ungeblockte Werbung und fälschlicherweise geblockte Dinge:
! Forum: https://forums.lanik.us/viewforum.php?f=90
! E-Mail: easylist.germany@gmail.com
!
!----------------Allgemeine Regeln zum Blockieren von Werbung-----------------!
%include easylistgermany:easylistgermany/easylistgermany_general_block.txt%
%include easylistgermany:easylistgermany/easylistgermany_general_block_popup.txt%
!--------Allgemeine Regeln zum Verstecken von Werbung(süberbleibseln)---------!
%include easylistgermany:easylistgermany/easylistgermany_general_hide.txt%
%include easylistgermany:easylistgermany/easylistgermany_whitelist_general_hide.txt%
!---------------------------Third-party Werbeserver---------------------------!
%include easylistgermany:easylistgermany/easylistgermany_adservers.txt%
%include easylistgermany:easylistgermany/easylistgermany_adservers_popup.txt%
!-----------------------------Third-party Werbung-----------------------------!
%include easylistgermany:easylistgermany/easylistgermany_thirdparty.txt%
%include easylistgermany:easylistgermany/easylistgermany_thirdparty_popup.txt%
!-------------Seitenspezifische Regeln zum Blockieren von Werbung-------------!
%include easylistgermany:easylistgermany/easylistgermany_specific_block.txt%
%include easylistgermany:easylistgermany/easylistgermany_specific_block_popup.txt%
!-----Seitenspezifische Regeln zum Verstecken von Werbung(süberbleibseln)-----!
%include easylistgermany:easylistgermany/easylistgermany_specific_hide.txt%
!------------------Ausnahmeregeln zum Beheben von Problemen-------------------!
%include easylistgermany:easylistgermany/easylistgermany_whitelist.txt%
%include easylistgermany:easylistgermany/easylistgermany_whitelist_dimensions.txt%
%include easylistgermany:easylistgermany/easylistgermany_whitelist_popup.txt%
